.Super{
    width: 100%;
    height: 200px;
    background-color: #3a3a3a;
}
.Super h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #6cce3d;
    font-size: 85;
    text-align: center;
    position: relative;
    top: 40px;
}
.Super h3{
    font-family: Arial, Helvetica, sans-serif;
    color:#489a45;
    font-size: 30;
    text-align: center;
    position: relative;
    top:-50px;
}
.master{
    width: 100%;
    
    background-color: white;
}
.bar{
    width: 100%;
    height: 50px;
    background-color: #6cce3d;
    margin-top: 50px;
}
.home{
    width: 150px;
    height: 50px;
    background-color: #489a45;
    margin-left: 30px;
    float: left;
}
.home h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 130;
}
ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-right: 120px;
    padding: 10px;
    font-size: 25px;
    font-weight: 130px;
    
}
a{
    color: white;
    text-decoration: none;
}
.master img{
    margin-top: 50px;
    width: 100%;
}
.left-box{
    width: 400px;
    height:1100px;
    background-color: white;
    margin-top: 40px;
    float: left;
}
.left-box p{
    margin-left: 40px;
}
.left-box h3{
    font-size: 45px;
    color: #6cce3d;
    margin-bottom: 30px;
    margin-left: 40px;
}
    
}
.left-box2{
    width: 400px;
    height: 500px;
    float: left;
    background-color: aqua;
}
.left-box2 h4{
    margin-left: 40px;
    font-size: 45px;
    color: #6cce3d;
    margin-top:10;
    margin-bottom: 30px;
}
.left-box2 p{
    margin-left: 40px;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;

}
.right-box{
    width: 870px;
    height: 700px;
    background-color:white;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.right-box h1{
    margin-left: 20px;
    font-size: 55px;
    color: #6cce3d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    font-weight: 200;
    
}
.right-box22 p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.right-box p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-top: 40px;
    line-height: 35px;
}